<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Product Variable Fields"} %>

<%= error_messages_for :product %>

<% form_for(:product, :url => admin_product_url(@product), :html => { :method => :put }) do |f| %>
  <table class="index">
    <thead>
      <tr>
        <th><%= t("display-name") %></th>
        <th><%= t("name") %></th>
      </tr>
    </thead>
    <tbody id="product_variable_fields">
  		<%= f.render_associated_form(@product.product_variable_fields) %>
  		<tr id="none">
  		  <td colspan="3"><%= @product.product_variable_fields.empty? ? "#{t("none")}." : "" %></td>
  		</tr>
  	</tbody>
  </table>

  <input type="hidden" name="clear_product_variable_fields" value="true">

  <p>
    <%= f.add_associated_link(icon('add') + ' ' + t("add_product_variable_fields"), @product.product_variable_fields.build, 
                              {:onclick => "Element.hide('none');", :class => 'iconlink'}) %>
	</p>
	<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
	<br/>
  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>

