<tr class="<%= cycle('', 'alt') %>">
  <td>
    <% if variant.images.length == 0 %>
      <%= small_image(variant.product) %>
    <% else %>
      <%=  image_tag variant.images.first.attachment.url(:small)   %>
    <% end %>
  </td>
  <td>              
    <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
    <%= variant_options variant %>
    <%= truncate(variant.product.description, :length => 100, :omission => "...") %>
	<% if line_item.has_variable_fields? %>
		<br />
		<strong><%= t('variable-data-line-item') %></strong>
		<br />
		<% for field in line_item.line_item_variable_fields %>
			<strong><%= field.product_variable_field.name%></strong> <%= field.value %><br />
		<% end %>
		
		<%= link_to t("variable-data-generate-preview"), render_proof_order_line_item_url(@order.id, line_item.id) %>
	<% end %>
  </td>
  <td>
    <%= product_price(line_item) %>
  </td>
  <td>
    <%= item_form.text_field :quantity, :size => 3 %>
  </td>
  <td>
    <%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
  </td>
</tr>
